.form {
    align-items: center;
    text-align: center;
}

.error {
    font-size: 0.7em;
    color: red;
    text-align: center;
    margin-top: -15px;
}


.inputField {
    width: 300px;
    margin: auto auto 10% auto;
    border: none;
    border-bottom: solid black 1px;
    overflow: hidden;
    position: relative;
}

.subtext {
    color: gray;
    font-size: 0.8em;
}

.selectBox {
    border:0px;
    outline:none;
    width: 100%;
    color: gray;
}

.selectBox option:first-child {
    color: #ccc;
}

.select-arrow {
    text-align: start;
}

.select-arrow:after {
    content: '\f078';
    font: normal normal normal 0.7em/1 FontAwesome;
    right: 8%;
    top: 35%;
    position: absolute;
    pointer-events: none;
}

select::-ms-expand {
    display: none;
}

.select-arrow select {
    -webkit-appearance: none;
     -moz-appearance: none;
    appearance: none;
}


