.button-border {
    border-radius: 20px;
    border: solid black 1px;
    width: 100px;
}

.card {
    height: 550px;
    width: 475px;
    margin-top: auto;
    margin-bottom: auto;
    background: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 35px;
    z-index: 2;
}

.full-height {
    height: 100vh;
}

.inputField {
    border-radius: 20px;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid black 1px;
    overflow: hidden;
    position: relative;
}

.subtext {
    color: gray;
    font-size: 0.8em;
}

.selectBox {
    border:0px;
    outline:none;
}

.select-arrow:after {
    content: '\f078';
    font: normal normal normal 0.7em/1 FontAwesome;
    right: 8%;
    top: 35%;
    position: absolute;
    pointer-events: none;
}

select::-ms-expand {
    display: none;
}

.select-arrow select {
    -webkit-appearance: none;
     -moz-appearance: none;
    appearance: none;
}


