.form {
    align-items: center;
    text-align: center;
}

.error {
    font-size: 0.7em;
    color: red;
    text-align: center;
    margin-top: -15px;
}

.inputField {
    width: 60%;
    margin: auto auto 10% auto;
    border: none;
    border-bottom: solid black 1px;
    overflow: hidden;
    position: relative;
    text-align: start;
}

.catInputField {
    width: 85%;
    margin: auto auto 10% auto;
    border: none;
    border-bottom: solid black 1px;
    overflow: hidden;
    position: relative;
    text-align: start;
}

.selectBox {
    border:0px;
    outline:none;
    width: 100%;
    color: gray;
}

.selectBox option:first-child {
    color: #ccc;
}

.select-arrow {
    text-align: start;
}

.select-arrow:after {
    content: '\f078';
    font: normal normal normal 0.7em/1 FontAwesome;
    right: 8%;
    top: 5px;
    position: absolute;
    pointer-events: none;
}

select::-ms-expand {
    display: none;
}

.select-arrow select {
    -webkit-appearance: none;
     -moz-appearance: none;
    appearance: none;
}

/* ////// Checkbox stlying below ////// */
.skew-left {
    padding: 0 0 0 40px;
}

.categories {
    height: 40vh;
    text-align: start;
}

.third {
    width: 31%;
    margin-right: 0.5%;
}

.cat-subtext {
    font-size: 0.7em;
    margin: 5px 0 5px 0;
    width: 70%;
}

.form-check-label {
    font-size: 0.7em;
    padding-top: 5px;
}

input[type=checkbox] + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
}
  
input[type=checkbox] {
    display: none;
}
  
input[type=checkbox] + label:before {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.1em;
    padding-bottom: 1em;
    padding-right: 0.9em;
    margin-right: 0.3em;
    align-items: center;
    color: transparent;
    transition: .2s;
}
  
input[type=checkbox] + label:active:before {
    transform: scale(0);
}
  
input[type=checkbox]:checked + label:before {
    background-color: #0394e8;
    border-color: #0394e8;
    color: white;
}
