@font-face {
    font-family: newStackFont;
    src: url("../app/common/newStackFont.otf") format("opentype");
}

.title {
    position: absolute;
    left: 5%;
    top: 5%;
    font-family: newStackFont;
}

.red {
    color: #E80303;
    float: left
}

.grey {
    color: #383838;
    float: right;
    margin-left: 5px;
}

.city-image {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url('../images/Chicago_BW.jpg');
    background-repeat:no-repeat;
    background-position: center center;
    color: black;
    height: 100vh;
}

    /* potential media queries for width on differen screen size */
.image-text {
    text-align: center;
    color: white;
    width: 75%;
}

.full-ratchet {
    color: white;
    text-align: center;
    position: absolute;
    left: 73%;
    top: 83%;
}

.logo {
    width: 100px;
}

.chevron {
    font-size: 0.8em;
    font-weight: normal;
    padding: 5px;
}

.btn {
    background-color: rgb(67, 9, 94);
    color: white;
    margin: 0 8% 0 8%;
}

.btn:hover {
    color: rgb(168, 156, 156);
}

.button-border {
    border-radius: 20px;
    width: 100px;
}

.header {
    margin-bottom: 10%;
}
