.textInput {
    border-radius: 15px;
    margin: 20px;
    border: solid black 1px;
}

.subtext {
    color: gray;
    font-size: 0.6em;
    justify-content: center;
}

.button-border {
    border-radius: 15px;
    border: solid black 1px;
    float: right;
}