.title {
    position: absolute;
    left: 5%;
    top: 5%;
}

.city-image {
    background-image: url('https://r1.ilikewallpaper.net/iphone-wallpapers/download/20964/Dark-Chicago-Cityscape--iphone-wallpaper-ilikewallpaper_com.jpg');
    color: white;
    height: 100vh;
}

.image-text {
    text-align: center;
}

.chevron {
    font-size: 0.8em;
    font-weight: normal;
    padding: 5px;
}

.btn {
    background-color: rgb(67, 9, 94);
    color: white;
}

.button-border {
    border-radius: 20px;
    width: 100px;
}

.header {
    margin-bottom: 10%;
}

